.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.block-logo {
    margin-top: 10px;
    margin-bottom: 37px;
}

.block-logo > img {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-size: 12px;
}

.header__side {
    display: flex;
    align-items: center;
}

.header__menu-btn {
    position: relative;
    background: transparent linear-gradient(-90deg, #DCB97B 0%, #FEE5A5 0%, #C39D5F 100%) 0% 0% no-repeat padding-box;
    padding-left: 57px;
    padding-right: 51px;
    height: 23px;
    width: 191px;
    margin-right: 33px;
    cursor: pointer;
}

.header__menu-btn-line {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__menu-btn-line > div {
    width: 16px;
    height: 2px;
    background-color: #FFFFFF;
    margin-bottom: 2px;
}

.header__menu-btn-line div:last-child {
    margin-bottom: 0;
}

.header__menu-btn > span {
    font-weight: 500;
    letter-spacing: 1.68px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 23px;
}

.header__nav-item {
    color: #707070;
    text-decoration: none;
    display: inline-block;
    margin-right: 24px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.heder__form > input {
    border: none;
    outline: none;
    border-bottom: 1px solid #707070;
    width: 102px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: center right;
    margin-right: 20px;
}

.header__btn {
    width: 115px;
    border: 1px solid #707070;
    text-align: center;
    cursor: pointer;
    margin-right: 14px;
    color: #707070;
    height: 21px;
    line-height: 21px;
}

.header__btn-partnes {
    margin-right: 0;
}

.header__lang {
    width: 16px;
    height: 12px;
    background-image: url('../img/flag-rus.svg');
    background-repeat: no-repeat;
    margin-left: 12px;
}